/* font chữ */
@import url('http://fonts.googleapis.com/css?family=Styles');
html body{
	width: 100%;
	height: 100%;
	font-family: 'Styles';
	font-size: 25px;
	background: #f3f3f3;

}
/* menu */
.navbar{
	background-color: rgb(180, 180, 180,0.9) !important;
}
.navbar li a{
	color: black !important;
}

.navbar li a:hover{
	color: #fbfb9d !important;
}

.menu-right{
	margin-right: auto;
	margin-left: auto;
}

.carousel-inner img{
	width: 100%;
	height: 20em;
}

.menu-right li:hover a i{
  transform: translateX(0);
   
}
.menu-right li::before {
    
    transform: translateX(0);
}
.active-11 ul li:hover :before {
	
    position: absolute;
    content: '';
    top: 3em;
    transform: translateX();
    width: 4%;
    border-top: 4px solid #bd945f;
}
.active-11 ::before{
	position: absolute;
    content: '';
    top: 3em;
    transform: translateX();
    width: 4%;
    border-top: 4px solid #bd945f;
}



/* banner */
.caption{
	position: absolute;
	top: 10%;
}
.display-2{
	font-size: 2.5rem;
	color: darkorange;
}
.caption h3{
	color: black;
}

.caption .btn{
  background: tan;
}
/* danh mục sản phẩm */
.reason{
	position: relative;
	background: white;
	margin-top: -2em;
}

.img img{
	height:7em;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 2em;
	
}
.tieude p{
	margin-top: 1.5em;
	text-align: center;
	padding-bottom: 2em;

}






/* sản phẩm nổi bật */
.box-product h2 {
  display: block;
  margin: 50px;
  padding: 10px;
  color: black;
  font-weight: bold;
  position: relative;
  
}
.box-product h2:before {
  content: "";
  position: absolute;
  top: 3.5em;
  left: 13.5em;
  width: 15%;
  height: 5px;
  border: 2px solid #bd945f;
  transition: .25s;
  background: #bd945f;
}
h2:hover:before {
  
}
.box-product h2{
	padding: 2em 0;
	text-align: center;
	text-transform: uppercase;
	color: #2c2e53; */
    margin-bottom: 50px;
}
/* slick lider */
.item p{
	text-align: center;
}

.vote{
	color:  #bd945f;
}

/* wellcom us */
.us{
	
	height: 48em;
	background-image: url("../images/us1.png") ;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 3em;
}

.us1{
	min-height: 26em;
	padding-top: 4em;
}
.us1 h2{
	padding-bottom: 3em;
	text-align: center;
	color: #efefef;
}

.reason-1{
	height: 4em;
}
.content-us h3{
	color: #fff;
    text-transform: uppercase;
    font-size: 24px;
}
.content-us p{
	color: #fff;
    font-size: .85rem;
    text-align: justify;
    line-height: 1.5rem;
}
.img-us img{
	width: 100%;
	height: 15.7em;
}

.product-us img{
	width: 23%;
}

.us1 h2 {
 
  position: relative;
  
}
.us1 h2:before {
  content: "";
  position: absolute;
  top: 1.5em;
  left: 14.5em;
  width: 16%;
  height: 6px;
  border: 2px solid #bd945f;
  transition: .25s;
  background: #bd945f;
}


/* WHY US */



.why h2{
	padding-top: 2.5em;
	text-align: center;
	padding-bottom: 2em;
	color: #efefef;
}

.reason-why .content-why .title-why{
	font-size: 1.4em;
	color: #bd945f;
	margin: 0;
}

.reason-why .content-why .desc{
	font-size: .8em;
	color: #565555;
}

.why-img{	
	margin: 15px 15px 15px 15px;
	background: white;
	height: 5em;
}
.img-why{
	margin: auto auto;
}
.content-why{
	margin: auto auto;
}

.why h2 {
 
  position: relative;
  
}
.why h2:before {
  content: "";
  position: absolute;
  top: 4em;
  left: 13.5em;
  width: 22%;
  height: 6px;
  border: 2px solid #bd945f;
  transition: .25s;
  background: #bd945f;
}
h2:hover:before {
  
}

/* TIN TỨC TRÁI */
.news{
	min-height: 30em;
}
.news h2{
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}
.box-news{
	position: absolute;
}

.img-news img{
	width: 100%;
	height: 20em;

}
.main-news{
	position: relative;
	bottom: 7em;
    width: 100%;
    background: #bd945f;
    padding: 1.5em;
    font-size: 0.7em;

}
.main-news .title-news a{
	color: white;
	text-decoration: none;

}

.news h2 {
 
  position: relative;
  
}
.news h2:before {
  content: "";
  position: absolute;
  top: 3.5em;
  left: 16em;
  width: 8%;
  height: 6px;
  border: 2px solid #bd945f;
  transition: .25s;
  background: #bd945f;
}
h2:hover:before {
  
}

/* TIN TỨC PHẢI */
.img-right-news img{
	width: 6em;
    height: 5.5em;
}

.content-news{
	padding: 0 0 0 1em;
}

.news .news-right li{
	margin-bottom: 0.5em;
	line-height: 1.2em
}

.desc-news{
	font-size: 16px;
	text-align: justify;
	line-height: 1em;
	margin: 0;
	

}
.content-news .title-news a{
	text-decoration: none;
	color: #bd945f;
	font-size: 13px;

}

.news .news-right .see{
	margin-left: 2em;

}

.news .news-right .see a{
	color: #bd945f;
	text-decoration: none;
}

/* ĐỐI TÁC */

.owl-theme .owl-dots .owl-dot span {
	width: 0px !important;
}

.partner h2{
	margin-top: 3em;
	margin-bottom: 2em;
	text-align: center;
}
.wp-slider1 .owl-theme .item a img{
	    height: 144px;
    max-width: 90%;
    margin: auto;

}
.wp-slider1{

}


.partner h2 {
 
  position: relative;
  
}
.partner h2:before {
  content: "";
  position: absolute;
  top: 1.5em;
  left: 16em;
  width: 8%;
  height: 6px;
  border: 2px solid #bd945f;
  transition: .25s;
  background: #bd945f;
}
h2:hover:before {
  
}


/* SERVICE */

.service{
	padding: 8em 0 6em 0;
    background: url("../images/service.jpg") no-repeat center;
    background-size: cover;

}

.service img{
	position: absolute;
	margin-top: -287px;
	margin-left: 5em;
	width: 19em;
	height: 18em;

}

.service button{
	background: #fff;
	padding: 12px 14px 12px 14px;
	color: #000;
	border: 3px solid #bd945f;
	margin-bottom: .6rem;
	width: 4em;
}

.service input{
	padding: 12px 14px 12px 14px;
    width: 70%;
    border: 3px solid #bd945f;
    margin-bottom: .6rem;

}


.mana h2 {
 
  position: relative;
  
}
.mana h2:before {
  content: "";
  position: absolute;
  top: 3em;
  left: 0.5em;
  width: 43%;
  height: 6px;
  border: 2px solid white;
  transition: .25s;
  background: white;
}
h2:hover:before {
  
}

/* footer */
footer{
	background: #363636;
	height: 15em;
	
	padding-top: 2.5em;
}



.row-footer p a{
	color: #c1baba;
	font-size: 1em;
	padding-left: 1em;
}
.row-footer p{
	color: #c1baba;

}


footer h5 {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    position: relative;
    padding: 5px 0;
    margin-bottom: 16px;
 }

footer h4 {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    
 }

.row-footer ul li{
	list-style-type: none;
	margin-left: -1.5em;
}
.row-footer ul li a{
	color: #c1baba;
}

.row-footer a{
	text-decoration: none;
 }

.row-footer i{
	color: white;
}

.footer-right3 .social-icon a i{
  font-size: 40px;
  padding-left: 20px;
}

.row-footer h5 {
 
  position: relative;
  
}
.row-footer h5:before {
  content: "";
  position: absolute;
  top: 2em;
  left: 0em;
  width: 43%;
  height: 6px;
  border: 2px solid white;
  transition: .25s;
  background: white;
}
h2:hover:before {
  
}

/* ..............................giới thiệu................... */
.introduce{
	position: relative;

}
.introduce .content-introduce{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 60px;
	text-align: center;
}

.introduce img{
	width: 100%;

}

.box-main h2 {
 
  position: relative;
  
}
.box-main h2:before {
  content: "";
  position: absolute;
  top: 2.5em;
  left: 12em;
  width: 28%;
  height: 6px;
  border: 2px solid #bd945f;
  transition: .25s;
  background: #bd945f;
}
h2:hover:before {
  
}

/* DEVELOP */
.develop-main{
	position: relative;
	font-size: 16px;
    padding: 1em 1.5em;
    background: #fff;
    margin: -4em 0 2em 0;
}

.box-main h2{
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

.develop-border{
	border: 2.5px solid #bd945f;
	margin-top: 10px;
}

/* ..........................sản phẩm................... */

.product-sp{
	position: relative;
	background: white;
	width: 100%;
	margin-top: 2em;
	

	

}

.list-product .box-product-1{
	
	padding-bottom: 5px;
}

.info-bot{
	text-align: center;
}

.box-product-1 .all-product a{
	text-decoration: none;
	color: black;
}

.product-bot .img-bot img{
	height: 200px;
	width: 100%;
}
.product-sp .list-product {
    padding: 1.8em 1.5em 0 1.5em;
    margin-bottom: 4em;
    background: #fff;
    font-size: 16px;
}


.box-product-1 h2 {
 
  position: relative;
  
}
.box-product-1 h2:before {
  content: "";
  position: absolute;
  top: 1em;
  left: 0em;
  width: 67%;
  height: 4px;
  border: 2px solid #bd945f;
  transition: .25s;
  background: #bd945f;
}
h2:hover:before {
  
}

/* .............................TIN TỨC................... */
.news-tt{
	background: white;
}
.news-tt .box-news-tt h2{
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;


}
.news-item .title-news-tt p{
	font-size: 1.0rem;
}
.news-item .title-news-tt h4 a{
	text-decoration: none;
	font-size: 1.0rem;
	color: #bd945f;

}

.news-item{
	padding-bottom: 2em;
}

.box-news-tt h2 {
 
  position: relative;
  
}
.box-news-tt h2:before {
  content: "";
  position: absolute;
  top: 3.5em;
  left: 16em;
  width: 8%;
  height: 6px;
  border: 2px solid #bd945f;
  transition: .25s;
  background: #bd945f;
}
h2::before {
  
}


/* ...........................ĐỐI TÁC.................... */

.doitac{
	position: relative;

}

.content-doitac{
	
}
.content-doitac h1{
	position: absolute;
     width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 60px;
    text-align: center; 
}

.doitacs .introduce-partner{
	position: relative;
	background: white;
	margin-top: -3em;
	margin-bottom: 2em;
}

.box-introduce {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.content-introduce-dt h3{
	text-transform: uppercase;
    color: #bd945f;
    font-size: 1.2em;
    margin-bottom: 0;
}

.content-introduce-dt p{
	    color: #2c2e53;
	    font-size: 20px;
}

/* .....................liên hệ.................... */

.contact{
	position: relative;

}

.content-contact{
	
}
.content-contact h1{
	position: absolute;
     width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 60px;
    text-align: center; 
    color: black;
}


/* ................LIÊN HỆ............... */
.contact-lh{
	background: white;
	margin-top: 2em;
	margin-bottom: 2em;
}
.content-contact .title-contact{
	color:#bd945f ;
	text-transform: uppercase;
	font-size: 24px;
	margin-top: 2em;

}

.img-contact img{
	margin-bottom: 2em;
	
}
.lien-he input{
	margin-top: 1em;
	border: 3px solid #bd945f; 
	width: 100%;
}
.lien-he button{
	margin-top: 2em;
	background: #bd945f;
	width: 4em;
	border-radius: 2px;
	height: 2em;
}


 /* chi tiết sản phẩm */
 .preview {  
display: -webkit-box;   
display: -webkit-flex;  
display: -ms-flexbox;   
display: flex;  
-webkit-box-orient: vertical;   
-webkit-box-direction: normal;  
-webkit-flex-direction: column; 
-ms-flex-direction: column; 
flex-direction: column;
} 
 
@media screen and (max-width: 996px) { 
.preview { 
margin-bottom: 20px;
}
}
 
.preview-pic {  
-webkit-box-flex: 1;    
-webkit-flex-grow: 1;   
-ms-flex-positive: 1;   
flex-grow: 1;
}
 
.preview-thumbnail.nav-tabs {   
border: none;   
margin-top: 15px;
}
 
.preview-thumbnail.nav-tabs li {    
width: 18%; 
margin-right: 2.5%;
}
 
.preview-thumbnail.nav-tabs li img {    
max-width: 100%;    
display: block;
}
 
.preview-thumbnail.nav-tabs li a {  
padding: 0; 
margin: 0;  
cursor:pointer;
}
 
.preview-thumbnail.nav-tabs li:last-of-type {   
margin-right: 0;
}
 
.tab-content {  
overflow: hidden;
}
 
.tab-content img {  
width: 100%;    
-webkit-animation-name: opacity;    
animation-name: opacity; 
-webkit-animation-duration: .3s; 
animation-duration: .3s;
}
 
.card { 
margin-top: 0px;    
background: #eee;   
padding: 3em;   
line-height: 1.5em;
} 
 
@media screen and (min-width: 997px) { 
.wrapper { 
display: -webkit-box; 
display: -webkit-flex; 
display: -ms-flexbox; 
display: flex;
}
}
 
.details {  
display: -webkit-box;
    display: -webkit-flex;  
display: -ms-flexbox;   
display: flex;  
-webkit-box-orient: vertical;   
-webkit-box-direction: normal;  
-webkit-flex-direction: column; 
-ms-flex-direction: column; 
flex-direction: column;
}
 
.colors {   
-webkit-box-flex: 1;    
-webkit-flex-grow: 1;   
-ms-flex-positive: 1;   
flex-grow: 1;
}
 
.product-title, .price, .sizes, .colors {   
text-transform: UPPERCASE;  
font-weight: bold;
}
 
.checked, .price span { 
color: #ff9f1a;
}
 
.product-title, .rating, .product-description, .price, .vote, .sizes {  
margin-bottom: 15px;
}
 
.product-title {    
margin-top: 0;
}
 
.size {
    margin-right: 10px;
}
 
.size:first-of-type {   
margin-left: 40px;
}
 
.color {    
display: inline-block;  
vertical-align: middle; 
margin-right: 10px; 
height: 2em;    
width: 2em; 
border-radius: 2px;
}
 
.color:first-of-type {  
margin-left: 20px;
}
 
.add-to-cart, .like {   
background: #ff9f1a;    
padding: 1.2em 1.5em;   
border: none;   
text-transform: UPPERCASE;  
font-weight: bold;  
color: #fff;    
text-decoration:none; 
-webkit-transition: background .3s ease; 
transition: background .3s ease;
}
 
.add-to-cart:hover, .like:hover {   
background: #b36800;    
color: #fff;    
text-decoration:none;
}
 
.not-available {    
text-align: center; 
line-height: 2em;
}
 
.not-available:before { 
font-family: fontawesome;   
content: "\f00d";   
color: #fff;
}
 
.orange {   
background: #ff9f1a;
}
 
.green {    
background: #85ad00;
}
 
.blue { 
background: #0076ad;
}
 
.tooltip-inner {    
padding: 1.3em;
} 
 
@-webkit-keyframes opacity { 
0% { opacity: 0; -webkit-transform: scale(3); transform: scale(3);} 
100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
} 
 
@keyframes opacity { 
0% { opacity: 0; -webkit-transform: scale(3); transform: scale(3);} 
100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
}

#navbarResponsive12{
	padding-left: 5em;
}

.tab{
	margin-top: 1em;
	width: 100%;
}


.quality{
	
}

.quality ul li{
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	width: 7em;
	text-align: center;
	margin-top: 2em;	
	

}
.quality ul{
	
	display: flex;

}
.action{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em
}

.btn-default{
	margin-top: 2em;
}

.buy{
	margin-bottom: 3em;
	margin-top: 3em;
}


/* mediaquery */

@media(max-width: 1000px){
.box-product h2:before {
    
    left: 10.5em;
   
}
.us1 h2:before {
	left: 11em;
	width: 25%;
}

.why h2:before {
	left: 10em;
    width: 30%;
}
.news h2:before {
	left: 13.5em;
}
.img-right-news img {
    width: 4em;
    height: 4.5em;
}
.partner h2:before{
	left: 13.5em;
}
.service img {
    position: absolute;
    margin-top: -287px;
    margin-left: 0em;
    width: 12em;
    height: 13em;
}
.box-main h2:before {
    
    left: 10em;
   
}
.img-develop-1 img{
	width: 100%;
}
.box-news-tt h2:before {
	left: 13.55em;
}
.img-news-tt img{
	width: 100%;
}

}

@media(max-width: 768px){
.box-product h2:before {
    content: "";
    position: absolute;
    top: 3.5em;
    left: 4.5em;
    width: 15%;
    height: 5px;
    border: 2px solid #bd945f;
    transition: .25s;
    background: #bd945f;
}
}


@media (max-width: 576px){
	
}